<div ng-controller="ExpertController">
  <!-- Search : s -->
  <div class="scm-card">
    <table class="table-search">
      <caption>도메인IT 전문가관리 조회</caption>
      <tr>
        <th style="width:100px">전문가명</th>
        <td><input name="name" type="text" title="업체명" style="width: 150px;" ng-model="company.name"></td>
        <th style="width:100px">승인상태</th>
        <td>
          <input type="radio" name="approval" ng-model="company.status" value=0 id="app-1" class="dsi"><label
            for="app-1">승인대기</label>
          <input type="radio" name="approval" ng-model="company.status" value=1 id="app-2" class="dsi"><label
            for="app-2">승인완료</label>
        </td>
        <td>
          <button class="btn blue" ng-click="getCompanyList()"><img src="/static/images/icon_search.png" alt="검색"><span>검색</span></button>
        </td>
      </tr>
    </table>
  </div>
  <!-- Search : e -->

  <!-- Table-list : s -->
  <div class="scm-card">
    <div class="table-header">
      <span class="table-title">도메인 IT 전문가</span>
      <div class="table-header-right">
        <span ng-model="items">전체 {{pagination.totalCount}}건</span>
        <select name="select" ng-model="pagination.pageItemPerPage" class="small"
          ng-options="option.value as option.name for option in pageOptions" ng-change="changePageOption()"></select>
      </div>
    </div>

    <table class="table-list">
      <caption>도메인 IT 전문가목록</caption>
      <colgroup>
          		<col width="160px">
          		<col width="160px">
          		<col width="270px">
          		<col width="270px">
          		<col width="200px">
      	<col width="160px">
      </colgroup>
      <thead>
        <tr>
          <th ng-click="sorting('user_info.name', 'expertManager')">전문가명
            <span ng-if="sort[0]" class="sort-span"><span ng-if="!orderby.desc">▲</span><span
                ng-if="orderby.desc">▼</span></span>
          </th>
          <th ng-click="sorting('company_info.name', 'companyName')">소속
            <span ng-if="sort[1]" class="sort-span"><span ng-if="!orderby.desc">▲</span><span
                ng-if="orderby.desc">▼</span></span>
          </th>
          <th ng-click="sorting('company_info.tel_number', 'telNumber')">연락처
            <span ng-if="sort[2]" class="sort-span"><span ng-if="!orderby.desc">▲</span><span
                ng-if="orderby.desc">▼</span></span>
          </th>
          <th ng-click="sorting('user_info.email', 'email')">이메일
            <span ng-if="sort[3]" class="sort-span"><span ng-if="!orderby.desc">▲</span><span
                ng-if="orderby.desc">▼</span></span>
          </th>
          <th ng-click="sorting('user_info.business_number', 'businessNumber')">국가연구자번호
            <span ng-if="sort[4]" class="sort-span"><span ng-if="!orderby.desc">▲</span><span
                ng-if="orderby.desc">▼</span></span>
          </th>
          <th ng-click="sorting('expert_status.status', 'status')">승인상태
            <span ng-if="sort[5]" class="sort-span"><span ng-if="!orderby.desc">▲</span><span
                ng-if="orderby.desc">▼</span></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="item in items" ng-click="selectDetail(item)">
          <td>{{item.userInfo.name}}</td>
          <td>{{item.companyInfo.name}}</td>
          <td>{{item.companyInfo.telNumber}}</td>
          <td>{{item.userInfo.email}}</td>
          <td>{{item.userInfo.etcInfo}}</td>
          <td>
            <span ng-if="item.expertInfo.status == 1" class="span-none-text">
            	<img src="/static/images/icon_ok.png" alt="승인완료"><span>승인완료</span>
            </span>
            <span ng-if="item.expertInfo.status == 0" class="span-ing-text">
            	<img src="/static/images/icon_wait.png" alt="승인대기"><span>승인대기</span>
            </span>
            <span ng-if="item.expertInfo.status == 2" class="span-none-text">
            	<img src="/static/images/icon_ok.png" alt="승인제한"><span style="color: #ff0000">승인제한</span>
            </span>
          </td>
        </tr>
        <tr ng-repeat-end ng-model="expert" ng-if="item.detailStatus">
        <!-- 상세보기 s -->
          <td colspan=6>
            <!-- 도메인 IT 전문가 정보 : s -->
            <div class="scm-card">
              <div class="table-header read">
                <span class="table-title">도메인 IT 전문가정보</span>
              </div>
              <table class="table-read">
                <caption>도메인 IT 전문가정보</caption>
                <tr>
                  <th style="width:150px">도메인 IT 전문가</th>
                  <td class="td-bold">{{item.expert.userInfo.name}}</td>
                  <th>직책</th>
                  <td>{{item.expert.userInfo.rank}}</td>
                </tr>
                <tr>
                  <th>국가연구자번호</th>
                  <td>{{item.expert.userInfo.etcInfo}}</td>
                  <th>소속</th>
                  <td>{{item.expert.userInfo.department}}</td>
                </tr>
                <tr>
                  <th>연락처</th>
                  <td>{{item.expert.userInfo.telNumber}}</td>
                  <th>이메일</th>
                  <td>{{item.expert.userInfo.email}}</td>
                </tr>
              </table>

              <div class="table-header mt_30">
                <span class="table-title">자격증정보</span>
                <span class="table-total">(총{{item.expert.certificateInfo.length}}건)</span>
              </div>
              <table class="table-list">
                <caption>자격증정보</caption>
                <thead>
                  <tr>
                    <th style="width:360px">종류</th>
                    <th style="width:360px">자격증번호</th>
                    <th style="width:320px">취득일</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="certificateInfo in item.expert.certificateInfo">
                    <td>{{certificateInfo.certificateType}}</td>
                    <td>{{certificateInfo.certificateID}}</td>
                    <td>{{certificateInfo.acquisitionDate | date:'yyyy-MM-dd'}}</td>
                  </tr>
                </tbody>
              </table>

              <div class="table-header mt_30">
                <span class="talbe-title">입찰계약</span>
                <span class="table-total">(총{{item.bidLength}}건)</span>
              </div>
              <table class="table-list">
                <caption>입찰계약</caption>
                <thead>
                  <tr>
                    <th>거래처</th>
                    <th>입찰명</th>
                    <th>입찰일</th>
                    <th>입찰상태</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="bid in item.bids">
                    <td>{{bid.company.name}}</td>
                    <td class="left">{{bid.bidInfo.bidName}}</td>
                    <td>{{bid.bidInfo.contractDate}}</td>
                    <td>
                    	<span class="span-none" ng-if="bid.bidInfo.status == 1">계약진행</span>
                    	<span class="span-none" ng-if="bid.bidInfo.status == 2">계약완료</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- 도메인 IT 전문가정보: e -->
          </td>
        <!-- 상세보기 s -->
        </tr>
      </tbody>
    </table>
  </div>

  <div class="paginate">
    <ul uib-pagination total-items="pagination.totalCount" ng-model="pagination.pageNum"
      items-per-page="pagination.pageItemPerPage" max-size="pagination.maxSize" class="pagination-sm" previous-text="<"
      next-text=">" first-text="<<" last-text=">>" boundary-links="true" num-pages="numPages" ng-click="showBidView()">
    </ul>
  </div>
  <!-- Table-list : e -->
</div>