
<div class="scm-card">
	<div class="table-header read">
		<span class="talbe-title">제조사 정보</span>
	</div>
	<table class="table-read">
		<caption>제조사 정보</caption>
		<tr>
			<th style="width: 120px">사업자번호</th>
			<td>314-21-24083</td>
		</tr>
		<tr>
			<th>제조사명</th>
			<td>(주)유미테크</td>
		</tr>
		<tr>
			<th>대표번호</th>
			<td>042-867-4220</td>
		</tr>
		<tr>
			<th>사업장주소</th>
			<td>대전 유성구 가정로 218 융합기술연구생산센터 703호</td>
		</tr>
		<tr>
			<th>업태/종목</th>
			<td>제조/소비스, 소프트웨어개발자문교육</td>
		</tr>
	</table>

	<div class="table-header read mt_30">
		<span class="table-title">사용자 목록</span>
	</div>
	<table class="table-read">
		<caption>사용자 목록</caption>
		<tr>
			<th style="width: 120px">성명</th>
			<td>홍길동</td>
		</tr>
		<tr>
			<th>부서</th>
			<td>생산1팀</td>
		</tr>
		<tr>
			<th>직책</th>
			<td>과장</td>
		</tr>
		<tr>
			<th>연락처</th>
			<td>010-0000-0000</td>
		</tr>
		<tr>
			<th>이메일</th>
			<td>hong@ymtech.co.kr</td>
		</tr>
		<tr>
			<th>가입일</th>
			<td>2020.12.30 13:00:40</td>
		</tr>
	</table>
</div>
<!-- 마이페이지: e -->

<p class="btn-box">
	<button class="btn white">
		<img src="../images/icon_modify.png" alt="수정"><span>수정하기</span>
	</button>
</p>
