
<div class="main-header">
	<p class="popup-title">알람 등록</p>
</div>

<div class="scm-popup">
	<div class="popup-cont" style="margin-top: 30px; padding: 20px 20px 0px 20px;">

		<!-- 분석환경 신청: s -->
		<div class="scm-card" style="width: 99.7%;">
			<div class="table-header read">
				<span class="table-title"><strong>알람 정보</strong></span>
			</div>
			<table class="table-read">
				<caption>알람 정보</caption>
				<tr>
					<th style="width: 150px">업체</th>
					<td>
						<select name="select" ng-model="envGrade" ng-options="item.Value as item.Display for item in envGrades">
						</select>
					</td>
				</tr>
				<tr>
					<th>알람일</th>
					<td>
						<input name="date02" type="date" title="날짜선택" ng-model="endDate" style="width: 150px;" ng-change="dateChange()" max="9999-12-31">
					</td>
					<td class="date-recent" style="padding: 8px 0px 0px 0px;">
						<input type="radio" name="ck_month" id="month-1" class="dsi" ng-checked="dateRadio.isChecked[0]" ng-click="dateRadioClick(1)">
						<label for="month-1">최근 1개월</label>
						<input type="radio" name="ck_month" id="month-3" class="dsi" ng-checked="dateRadio.isChecked[1]" ng-click="dateRadioClick(3)">
						<label for="month-3">최근 3개월</label>
					</td>
				</tr>
				<tr>
					<th>내용</th>
					<td>
						<textarea name="textfield" style="width: 250px;"></textarea>
					</td>
					<td>
						<button class="btn blue">
							<img src="static/images/icon_search.png" alt="검색"><span>검색</span>
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<!-- 제조사 정보: e -->

<p class="btn-box">
	<button class="btn whiteblue mr_10" ng-click="applyConfirm()">
		<img src="/static/images/icon_confirm.png" alt="분석환경 신청"><span>알람 등록</span>
	</button>
	<button class="btn gray" ng-click="cancel()">
		<img src="/static/images/icon_cancel.png" alt="취소"><span>취소하기</span>
	</button>
</p>
