
<div class="main-header">
	<p class="popup-title">알람 등록</p>
</div>

<div class="scm-popup">
	<div class="popup-cont" style="margin-top: 30px; padding: 20px 20px 0px 20px;">

		<!-- 분석환경 신청: s -->
		<div class="scm-card" style="width: 99.7%;">
			<div class="table-header read">
				<span class="table-title"><strong>알람 정보</strong></span>
			</div>
			<table class="table-read">
				<caption>알람 정보</caption>
				<tr>
					<th style="width: 75px">업체</th>
					<td style="width: 150px">
						<select style="width: 150px" name="select" ng-model="company">
							<option>(주)유미테크</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>알람일</th>
					<td>
						<input name="date" type="date" title="날짜선택" ng-model="date" style="width: 150px;" ng-change="dateChange()" min="minDate()" max="9999-12-31">
					</td>
					<td class="date-recent" style="padding: 8px 0px 0px 0px;">
						<input type="radio" name="direct_send" id="direct_send" class="dsi" ng-checked="dateRadio.isChecked[0]" ng-click="dateRadioClick(0)">
						<label for="direct_send">즉시 전송</label>
					</td>
				</tr>
				<tr>
					<th>내용</th>
					<td colspan="3">
						<textarea name="textfield" style="width: 400px;"></textarea>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<!-- 제조사 정보: e -->

<p class="btn-box">
	<button class="btn whiteblue mr_10" ng-click="applyConfirm()">
		<img src="static/images/icon_confirm.png" alt="알람 등록"><span>알람 등록</span>
	</button>
	<button class="btn gray" ng-click="cancel()">
		<img src="static/images/icon_cancel.png" alt="취소"><span>취소</span>
	</button>
</p>
