
<div class="main-header">
	<p class="popup-title">EdgeGW 수정하기</p>
</div>

<div class="scm-popup">
	<div class="popup-cont">
		<!--EdgeGW 수정하기: s -->
		<div class="scm-card" style="width: 99.7%">
			<div class="table-header read">
				<span class="table-title">장치 정보</span>
			</div>
			<table class="table-read">
				<caption>장치정보</caption>
				<tr>
					<th style="width: 100px">장치 ID</th>
					<td>{{id}}</td>
				</tr>
				<tr>
					<th>연동기간</th>
					<td>
						<input name="date01" type="date" title="날짜선택" ng-model="startDate" style="width: 150px;" ng-model="startDate" max="9999-12-31">
						~
						<input name="date02" type="date" title="날짜선택" ng-model="endDate" style="width: 150px;" ng-model="endDate" max="9999-12-31">
					</td>
				</tr>
			</table>
			<div class="table-header read  mt_30">
				<span class="table-title">제조사 정보</span>
			</div>
			<table class="table-read" ng-model="gradeAdmin" ng-if="gradeAdmin">
				<caption>제조사 정보</caption>
				<tr>
					<th style="width: 100px">제조사</th>
					<td>
						<select name="select" ng-model="companyInfo" ng-options="company.companyInfo as company.companyInfo.name for company in companies"
							ng-change="getUser(companyInfo.businessNumber)"
						>
							<option value="">선택</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>담당자</th>
					<td>{{user.userInfo.name}}</td>
				</tr>
				<tr>
					<th>직책</th>
					<td>{{user.userInfo.rank}}</td>
				</tr>
				<tr>
					<th>전화번호</th>
					<td>{{user.userInfo.telNumber}}</td>
				</tr>
				<tr>
					<th>이메일</th>
					<td>{{user.userInfo.email}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<!-- EdgeGW 등록하기: e -->

<p class="btn-box">
	<button class="btn whiteblue mr_5" ng-click="updateConfirm(user.companyInfoDTO.name)">
		<img src="/static/images/icon_confirm.png" alt="EdgeGW 수정"><span>EdgeGW 수정</span>
	</button>
	<button class="btn gray">
		<img src="/static/images/icon_cancel.png" alt="취소하기"><span>취소하기</span>
	</button>
</p>

