<!-- 	ng-contoller 최상위에 있도록 제작 -->
<div class="scm-main" ng-controller="EdgeController">
	<div class="main-header">
		<div class="title">EdgeGW 관리</div>
		<div class="right">
			<a href="/static/html/edgeGWManaAdd">
				<button class="btn black big">
					<img src="/static/images/icon_confirm_white.png" alt="신규 데이터 등록"><span>Edge 신규 등록</span>
				</button>
			</a>
		</div>
	</div>

	<!-- Search : s -->
	<div class="scm-card">
		<table class="table-search" ng-model="selectOption">
			<caption>EdgeGW 관리 조회</caption>
			<tr>
				<th style="width: 100px">업체명</th>
				<td colspan="3">
					<input name="name" type="text" title="업체명" ng-model="option.name" style="width: 150px;">
				</td>
			</tr>
			<tr>
				<th>연동기간</th>
				<td style="width: 280px">
					<input name="date01" type="text" title="날짜선택" ng-model="option.startDate" style="width: 90px;">
					~
					<input name="date02" type="text" title="날짜선택" ng-model="option.endDate" style="width: 90px;">
					<button class="btn white">
						<img src="/static/images/icon_calendar.png" alt="달력" ui-date="">
					</button>
				</td>
				<td>
					<input type="radio" name="ck_month" id="month-1" class="dsi" checked="">
					<label for="month-1">최근 1개월</label>
					<input type="radio" name="ck_month" id="month-3" class="dsi">
					<label for="month-3">최근3개월</label>
					<input type="radio" name="ck_month" id="month-6" class="dsi">
					<label for="month-6">최근6개월</label>
				</td>
				<td>
					<button class="btn blue" ng-click="getEdges(option.name, option.startDate, option.endDate)">
						<img src="/static/images/icon_search.png" alt="검색"><span>검색</span>
					</button>
				</td>
			</tr>
		</table>
	</div>
	<!-- Search : e -->

	<!-- Table-list : s -->
	<div class="scm-card">
		<div class="table-header">
			<span class="table-title">EdgeGateway 목록</span>
			<div class="table-header-right">
				<span>전체 {{edgeGWs.totalCount}}건</span> <select name="select" class="small">
					<option selected>15개씩 보기</option>
					<option>30개씩 보기</option>
				</select>
			</div>
		</div>

		<table class="table-list">
			<caption>EdgeGateway 목록</caption>
			<thead>
				<tr>
					<th>ID</th>
					<th>제조사</th>
					<th>작동여부</th>
					<th>최종 연동 일시</th>
					<th>비고</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="edgeInfo in edgeGWs.items">
					<td>
						<span>{{edgeInfo.id}}</span>
					</td>
					<td>
						<span>{{edgeInfo.managerId}}</span>
					</td>
					<td>
						<span>{{edgeInfo.status}}</span>
					</td>
					<td>
						<span>{{edgeInfo.updateDate}}</span>
					</td>
					<td>
						<a href="/edgeGWManaModify">
							<button class="btn white small">
								<img src="/static/images/icon_modify.png" alt="수정"><span>수정</span>
							</button>
						</a>
						<button class="btn red small">
							<img src="/static/images/icon_del.png" alt="삭제"><span>삭제</span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="paginate">
		<a class="dir" href="#link">
			<img src="/static/images/paginate_first.gif" alt="처음 페이지로">
		</a>
		<a class="dir first" href="#link">
			<img src="/static/images/paginate_prev.gif" alt="이전 페이지로">
		</a>
		<strong>1</strong>
		<!-- <a href="#link">2</a>
    				<a href="#link">3</a>
    				<a href="#link">4</a>
    				<a href="#">5</a> -->
		<a class="dir last" href="#link">
			<img src="/static/images/paginate_next.gif" alt="다음 페이지로">
		</a>
		<a class="dir" href="#link">
			<img src="/static/images/paginate_last.gif" alt="끝 페이지로">
		</a>
	</div>
	<!-- Table-list : e -->
</div>
</div>
<!-- scm-main : e -->