<!DOCTYPE html>
<html lang="ko" ng-app="platform">
<head th:include="taglibs.html :: taglibs" />
<head>
<title>제조 SCM 문제해결 AI 플랫폼</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="title" content="제조 SCM 문제해결 AI 플랫폼" />
<meta name="keywords" content="제조 SCM 문제해결 AI 플랫폼" />
<meta name="description" content="API - Management" />
<meta name="copyright" content="Copyright@2021 제조 SCM 문제해결 AI 플랫폼. All Rights Reserved." />
<script type="text/javascript">
	/* <![CDATA[ */
	var userInfo = "[[${authentication}]]";
	console.log("userInfo: " + userInfo);
	console.log("userInfo: " + userInfo.replace(/&quot;/g, '"'));
	var AUTHENTICATION = angular.fromJson(userInfo.replace(/&quot;/g, '"'));
	console.log("AUTHENTICATION: " + AUTHENTICATION);
	/* ]]> */

	var APP_NAME = "platform";
	var platform = angular.module(APP_NAME, [ "ui.bootstrap", "ngRoute", "ngResource", "ngAnimate", "ngSanitize" ]);
	// 	var platform = angular.module(APP_NAME, [ "ui.bootstrap", "ngRoute", "ngResource", "ngAnimate", "ngSanitize", "chieffancypants.loadingBar" ]);
</script>

<script type="text/javascript" th:src="@{/static/scripts/ctrl/ng-support.js}"></script>
<script type="text/javascript" th:src="@{/static/scripts/ctrl/contents_menu_config.js}"></script>
<script type="text/javascript" th:src="@{/static/scripts/ctrl/platform/ctrl_content_menu_container.js}"></script>

<script type="text/javascript" th:src="@{/static/scripts/ctrl/platform/ctrl_platform.js}"></script>
<script type="text/javascript" th:src="@{/static/scripts/ctrl/platform/edgegw/ctrl_edgegw.js}"></script>
<script type="text/javascript" th:src="@{/static/scripts/ctrl/platform/edgegw/ctrl_edgegw_modal.js}"></script>
</head>

<body ng-controller="PlatformCtrl">
  <!-- scm-header :S -->
  <div id="scm-header">
    <div class="scm-header-logo">
      <a href="#/">
        <img th:src="@{/static/images/logo_leftmenu.png}" alt="제조 SCM 문제해결 AI 플랫폼">
        제조
        <span>SCM</span>
        문제해결
        <span>AI</span>
        플랫폼
      </a>
    </div>
    <div class="scm-header-right">
      <ul>
        <li>
          <a href="mypage" title="마이페이지">
            <img th:src="@{/static/images/icon_set.png}" alt="마이페이지">
            <span>Mypage</span>
          </a>
        </li>
        <li>
          <a href="#" title="알람" class="alarm">
            <img th:src="@{/static/images/icon_alarm.png}" alt="알람">
          </a>
        </li>
        <li>
          <a href="login" title="로그아웃">
            <img th:src="@{/static/images/icon_logout.png}" alt="logout">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- end scm-header -->

  <!-- scm-container : s -->
  <div id="scm-container">
    <!-- scm-leftMen : s -->
    <div id="scm-leftMenu">
      <ul>
        <!-- BEGIN: Main Menu -->
        <li ng-repeat="routeContent in routeContents" ng-if="isAllowedContent(routeContent)" ng-class="{'on' : routeContent.selected}">
          <a href="{{routeContent.getUrl(false)}}" class="{{routeContent.icon}}">{{routeContent.display}}</a>

          <!-- BEGIN: Sub Menu -->
          <ul ng-if="routeContent.countOfMenus() > 0">
            <li ng-repeat="menu in routeContent.menus.values()" ng-if="!menu.shadow" ng-class="{'on' : menu.selected }">
              <a href="{{routeContent.getUrl(menu.standalone)}}/{{menu.key}}">{{menu.display}}</a>
            </li>
          </ul>
        <!-- END  : Sub Menu -->

        </li>
        <!-- END  : Main Menu -->
      </ul>
    </div>
    <!-- scm-leftMen : e -->

    <!-- scm-section : s -->
    <div id="scm-section" ng-view></div>
    <!-- scm-section : e -->
    <!-- scm-container : e -->
</body>
</html>