<div ng-controller="DashboardCtrl" ng-model="dash">
<!-- dash-total : s -->
<div class="dash-total" ng-model="dashboard" ng-init="selectCount()">
  <div class="scm-card ml_0" style="height: 185px;">
    <img src="/static/images/icon_total_fac.png" alt="제조사">
    <p>전체제조사</p>
    <b >{{dashboard.manufacturerCount}}</b>
  </div>
  <div class="scm-card" ng-model="dashboard.bidNotice" style="height: 185px;">
    <img src="/static/images/icon_total_bid.png" alt="입찰공고">
    <p>입찰공고</p>
    <b >{{dashboard.bidCount}}</b>
  </div>
  <div class="scm-card" ng-model="dashboard.edgeGW" style="height: 185px;">
    <img src="/static/images/icon_total_gw.png" alt="게이트웨이">
    <p>EdgeGW</p>
    <b >{{dashboard.edgeGWCount.totalCount}}</b>
  </div>
  <div class="scm-card mr_0" ng-model="dashboard.expert" style="height: 185px;">
    <img src="/static/images/icon_total_it.png" alt="IT 도메인 전문가">
    <p>IT 도메인전문가</p>
    <b >{{dashboard.expertCount}}</b>
  </div>
</div>
<!-- dash-total : e -->

<!-- dash-bid : s -->
<div class="scm-card">
  <div class="scm-tabs">
    <input id="bid-notice" type="radio" name="tab-item" checked>
    <label class="tab-item" for="bid-notice" ng-click="changeDashList('공고')">입찰공고</label>
    <input id="bid-result" type="radio" name="tab-item">
    <label class="tab-item" for="bid-result" ng-click="changeDashList('결과')">입찰결과</label>
    <div class="tab-content" id="notice-content">
      <a href="/#/bid/list">
        <span class="more-box">
          <button class="btn-more">+ more</button>
        </span>
      </a>
      <table class="table-list-none-dash">
        <colgroup>
          <col width="175px">
          <col width="70px">
          <col width="800px">
        </colgroup>
        <caption>입찰목록</caption>
        <!--thead>
                            <tr>
                              <th width="80">공고일</th>
                              <th style="width:100px">공고업체</th>
                              <th>공고명</th> 
                            </tr>
                          </thead-->
        <tbody>
          <tr class="dash-list" ng-repeat="item in items" ng-if="item.bidInfo.status != 2" ng-click="moveDetailPage(item.bidInfo.id)">
            <td>{{item.bidInfo.bidStartDate}} ~ {{item.bidInfo.bidEndDate}}</td>
            <td>{{item.company.name}}</td>
            <td>{{item.bidInfo.bidName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-content" id="result-content">
      <a href="#/bid/list">
        <span class="more-box">
          <button class="btn-more">+ more</button>
        </span>
      </a>
      <table class="table-list-none-dash">
        <colgroup>
          <col width="175px">
          <col width="70px">
          <col width="800px">
        </colgroup>
        <caption>입찰결과</caption>
        <tbody>
          <tr class="dash-list" ng-repeat="item in items" ng-if="item.bidInfo.status == 2"  ng-click="moveDetailPage(item.bidInfo.id)">
            <td>{{item.bidInfo.bidStartDate}} ~ {{item.bidInfo.bidEndDate}}</td>
            <td>{{item.company.name}}</td>
            <td>{{item.bidInfo.bidName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- dash-bid : s -->
</div>
<!-- scm-main : e -->
<!-- dash-bottom : s -->
<div class="scm-card dash-left" ng-if="userGrade != 2">
  <div class="table-header-yyh">
    <span class="table-title">EdgeGW 상태</span>
    <div class="table-header-right">
      <span id="current-date"> {{currentTime | date : 'yyyy-MM-dd'}} 현재</span>
    </div>
  </div>
  
  <div class="dash-stat" ng-model="comapny" ng-init="dashLoad()">
    <div class="dash-stat-divide" ng-model="edgeGW" ng-init="selectEdgeCount(comapny.name)">
       <!-- pie chart s   -->
      <div id="chart">
      	<canvas id="pieChart"></canvas>
      </div>
      <div id="legend"></div>
    <!--    pie chart e    -->
    </div>
  </div>
</div>

<div class="scm-card dash-right">
  <a href="">
    <div class="dash-banner">
      <div class="b-img">
        <img src="/static/images/icon-guide.png" alt="입찰가이드">
      </div>
      <div class="b-text">
        <p>입찰 가이드</p>
        입찰, 계약 및 전문가와의
        <br>
        계약에 관한 길라잡이
      </div>
      <span class="more-box">
        <button class="btn-more">+ more</button>
      </span>
    </div>
  </a>
  <a href="https://acrobat.adobe.com/kr/ko/acrobat/pdf-reader.html" target="_blank">
    <div class="dash-banner" style="border: 0">
      <div class="b-img">
        <img src="/static/images/icon-download.png" alt="프로그램 다운로드">
      </div>
      <div class="b-text">
        <p>Viewer 프로그램</p>
        입찰, 계약에 필요한 관련
        <br>
        문서 프로그램 다운로드
      </div>
      <span class="more-box">
        <button class="btn-more">+ more</button>
      </span>
    </div>
  </a>
</div>
<!-- dash-bottom : e -->
</div>